URL_DATABASE=""

# For OpenAI compatible providers like OpenRouter
LLM_PROVIDER=
LLM_BASE_URL=
LLM_MODEL_NAME=
LLM_API_KEY=""

OAuth_CallBack_Url=""
SUPABASE_URL=""
SUPABASE_KEY=""

BACKEND_CORS_ORIGINS=["http://localhost:3000","https://stacknodes.net/"]
SERPER_API_KEY=""

CLOUDFLARE_TOKEN=""

R2_ACCOUNT_ID=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET_NAME="product-images"
R2_PUBLIC_URL=""

HMAC_SECRET_KEY=""
EXCHANGERATE_API_KEY =""