fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
langgraph
langchain-google-genai
langchain-openai
httpx
beautifulsoup4
alembic
playwright
supabase
gotrue
python-dotenv
ddgs
